<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>slidingTabController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C7847F91BC0AE0A0098415D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C78480D1BC0AE0A0098415D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C7848181BC0AE0A0098415D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
